@font-face {
  font-family: "shamel";
  src: url(fonts/shamel.ttf) format("truetype");
}
@font-face {
  font-family: "lama";
  src: url(fonts/lama.ttf) format("truetype");
}
:root {
  --yellow: #fec430;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Shamel";
}
.landing {
  background: url(/img/landing.jpg) no-repeat top/cover;
  height: 100vh;
}
nav {
  display: flex;
  margin: 0 5rem;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}
.item-link {
  margin: 0 3rem;
  font-size: 2rem;
  transition: 0.3s;
}
.item-link:hover {
  color: var(--yellow);
}
nav .youtube {
  display: flex;
  align-items: center;
}
nav .youtube img {
  cursor: pointer;
  width: 12rem;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 8rem;
  cursor: pointer;
  margin: auto;
}
nav .bars {
  display: none;
}
.hero {
  font-family: "lama";
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  color: #fff;
  font-size: 8rem;
  margin-bottom: 3rem;
}
.hero h4 {
  color: #fff;
  width: 40%;
  line-height: 1.7;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.hero button {
  font-family: "lama";
  width: 15rem;
  background-color: var(--yellow);
  border-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  gap: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
  transition: 0.3s;
}
.hero button:hover {
  background-color: #ffd97a;
}
.hero button img {
  animation-name: Arrowwwww;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
   width: 2rem;
}
@keyframes Arrowwwww {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes MMouse {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}


.hero button p {
  font-size: 1.5rem;
}

.hero .down {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero .mouse {
  width: 6rem;
  cursor: pointer;
}
.hero .mouse:hover {
  animation-name: MMouse;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Responsive Landing */
@media screen and (max-width: 1030px) {
  html {
    font-size: 50%;
  }
  .hero {
    padding-top: 15rem;
  }
  .hero button {
    width: 20rem;
    height: 5rem;
  }
  .hero button p {
    font-size: 2rem;
  }
  .hero .down {
    font-size: 2rem;
  }
  .hero .mouse {
    width: 8rem;
  }
  .hero button img {
    width: 2rem;
  }
}
@media screen and (max-width: 810px) {
  html {
    font-size: 40%;
  }
  .hero button {
    width: 20rem;
    height: 5rem;
  }
  .hero button p {
    font-size: 2.5rem;
  }
  .hero .down {
    font-size: 3rem;
  }
  .hero .mouse {
    width: 10rem;
  }
  .hero button img {
    width: 3rem;
  }
}
@media screen and (max-width: 660px) {
  html {
    font-size: 40%;
  }
  nav .item-link {
    font-size: 1rem;
  }
  nav .youtube img {
    width: 8rem;
  }

  .hero {
    padding-bottom: 40rem;
  }
  .hero button {
    width: 25rem;
    height: 5rem;
  }
  .hero button img {
    width: 3rem;
  }
  .hero button p {
    font-size: 3rem;
  }
  .hero .down {
    font-size: 4rem;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
  .hero {
    padding-bottom: 40rem;
  }
  .hero h1 {
    font-size: 5.8rem;
  }
  nav .items.active {
    display: flex;
  }
  nav .items {
    position: absolute;
    left: 0;
    top: 7vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: none;
    background-color: var(--yellow);
    color: black;
    padding: 2rem 0;
    z-index: 1;
    border-bottom: 1px solid black;
  }

  nav .items .item-link {
    color: black;
    margin: 1rem 0;
  }
  nav .youtube {
    display: none;
  }
  nav .bars {
    display: block;
    width: 6rem;
    z-index: 2;
    align-self: center;
  }
  nav .logo img {
    width: 15rem;
    padding-top: 2rem;
  }
  
}

/* Trips */
.trips {
  font-family: "lama";
  display: flex;
  flex-direction: column;
}
.trips-title{
margin: 3rem 1rem;
}
.s-h{
  color: #A5A5A5;
  font-size: 30px;
  margin-bottom: 1rem;
}
.l-h {
font-size: 4.5rem;
}
.trips .trips-content
{
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.trips .trips-content .trip {
  padding-left: 20px;
  width: 380px;
  transition: 1s;
  margin-bottom: 20px;
}
.trips .trips-content .trip:hover {
  transform: translateY(-20px);
}

/* responsive */
@media screen and (max-width: 500px)
{
  .trips .trips-content .trip {
  width: 200px;
}
}

/* Services */
.services {
  margin-top: 10rem;
  font-family: "lama";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .services-title {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.services .services-content {
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1EFFD;
  width:80%;

  border-radius: 40px;
  flex-wrap: wrap;
}
.services .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;

  

}
.services .service img {
  width: 200px;
  margin-bottom: 20px;
}
.services .service .service-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.services .service .service-desc {
  color: #4C4C4C;
  font-size: 12px;
  text-align: center;
}

/* Plans */

.plans {
  display: flex;
  flex-direction: column;
  font-family: "lama";
  margin: 5rem 2rem;
}
.plans-content{
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.plan-card {
  width: 400px;
  margin: 30px;

}
.card-head {
  padding: 20px;
}
.card-head h2 {
  padding: 10px 0;
  font-size: 2rem;
}
.card-head p{
  color: #191919 #fff !important;
  font-size: 1.4rem;
}
.card-head hr {
  margin-top: 20px ;
  color: #000;
}
.plan-card span {
  font-size: 3rem;
}
.plan-card{
  display: flex;
  flex-direction: column;
  background: #FFE7AC;
  border-radius: 10px;
  box-shadow: 4px 5px 0px 0px black;
}
.card-true {
  display: flex;
  flex-direction: column;
  
}
.card-true{
  list-style: none;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-true li {
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.card-true img {
  padding-left: 10px;
}
.plan-card button {
  font-family: "lama";
  width: 90%;
  background-color: transparent;
 border: 1px solid black !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  gap: 1rem;
  margin-bottom: 6rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  align-self: center;
}
.plan-card button:hover {
  background-color: #ffd97a;
}
.plan-card button img {
  animation-name: Arrowwwww;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
   width: 2rem;
}
.cardActive{
  transform: translateY(-20px);
  color: white;
  background-color: #46368B;
  transition: 1s;

}
/* testimonials */
.testimonials {
  font-family: "lama";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials .testimonials-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.testimonials .testimonials-opinion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.testimonials .stars {
  margin-top: 20px;
}
.testimonials .testimonials-opinion .testimonials-card {
  background-color: #F1EFFD;
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 30px;
  width: 300px;
  margin-bottom: 40px;
  height: 250px;
}
.testimonials .testimonials-card .testimonials-card-head{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.testimonials .testimonials-card .testimonials-card-head img{
  border-radius: 50%;
  width: 50px;
}
.testimonials .testimonials-card .testimonials-card-head h3{
  font-size: 25px;
  padding-right: 15px;
}
.testimonials .testimonials-card .testimonials-card-desc p{
  font-size: 15px;
  margin-bottom: 30px;
  /* width: 50%; */
  color: #4C4C4C;
}
.testimonials .testimonials-arrows {
  margin-top: 10px;
}
@media screen and (max-width: 720px)
{
  .testimonials .testimonials-arrows{
    display: none;
  }
}


